name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0

  build:
    needs: [lint]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        exclude:
          # Windows tests fail on 3.10 -- somehow the output of tiptop --help is off
          - os: windows-latest
            python-version: "3.10"
    steps:
      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v3
      - name: Test with tox
        run: |
          pip install tox
          tox
      - name: Submit to codecov
        uses: codecov/codecov-action@v3
        if: ${{ matrix.python-version == '3.9' }}
